html {
  scroll-snap-type: y mandatory;
}

.App {
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}

.app__videos {
  position: relative;
  height: 800px;
  border-radius: 20px;
  width: 80%;
  max-width: 500px;
  scroll-snap-type: y mandatory;
  overflow: scroll;
}

/* Hide Scrollbar*/
.app__videos::-webkit-scrollbar {
  display: none;
}
